* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  *::before,
  *::after {
    box-sizing: border-box;
  }
  
  ol,
  ul,
  menu {
    list-style: none;
  }
  a {
    text-decoration: none;
    color: inherit;
  }
  
  html,
  body {
    scroll-behavior: smooth;
  }
  
  :root{
    --white:#fff;
    --black1:#081800;
    --green:#51C815;
    --black2:#101C02;
    --black3:#121E03;
    --beige:#F7FFEC;
  }

  body {
    font-family: 'Raleway', sans-serif;
    /* шрифти берем з макету */
    font-style: normal;
    font-weight: 700;
  }
  
  .container {
    max-width: 1200px;
    /* максимальна ширина береться з макету */
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
  }

  .background__green{
    background-color: var(--beige);
    height: 100vh;
    width: 45%;
    position: absolute;
    z-index: -1;
  }

  .header{
    padding-top: 40px;
  }

  .header__inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .header__list{
    display: flex;
    align-items: center;
  }
  .header__item{
    margin-right: 45px;
  }
  
  .header__item:last-child{
    margin-right: 0;
  }

  .header.link{
    font-size: 18px;
    line-height: 130%;
    color: var(--black2);
    
  }

  .header__item:hover{
    color:var(--green)
  }

  .primary__btn{
    background-color: #081800;
    cursor: pointer;
    border: none;
    font-size: 18px;
    line-height: 130%;
    color: var(--beige);
    padding: 20px 30px;
    font-family: "Realeway", sans-serif;
    font-weight: 700;
    position: relative;
    box-shadow: 8px 8px 0px var(--green);
  }

  /* home */

  .home__inner{
    display: flex;
    justify-content: space-between;
  }

  .home__img{
    max-width: 485px;
    width: 100%;
    object-fit: cover;
  }

  .home__titile{
    font-weight: 800;
    font-size: 80px;
    line-height: 130%;
    color: var(--green);
  }

  .home__subtitle{
    font-weight: 800;
    font-size: 60px;
    line-height: 130%;
    margin-bottom: 35px;
  }

  .home__descr{
    margin-left: 185px;
  }

  .home__text{
    font-size: 18px;
    line-height: 160px;
    margin-bottom: 45px;
  }

  .home__list{
    margin-top: 74px;
  }

  .home--btn{
    margin-bottom: 74px;
  }

  .home__list{
    display: flex;
    justify-content: space-between;
  }

  .home__number{
    font-size: 430px;
    line-height: 140%;
    color: var(--green);
  }

  .home__number-descr{
    font-size: 18px;
    line-height: 160%;
    color: var(--black1);
  }